<div id="game-page">

  <div class="game-container">
    <div class="spacer"></div>
    <div class="wrapper">
      <div class="spacer"></div>
      <%= content_tag :canvas, nil, width: Game.config.canvas_width, height: Game.config.canvas_height, data: { "pixel-size": Game.config.pixel_size } %>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="toolbar collapsed">
    <div class="player-color"></div>
    <ul class="shape-buttons">
      <% @shapes.each do |shape| %>
        <%= content_tag :li, shape.name.humanize, class: "shape-btn", data: { shape: shape.id } %>
      <% end %>
    </ul>
  </div>

</div>
