#game {
  display: flex;
  flex-direction: column;
  height: 100%;

  #game-container {
    flex-grow: 2;

    canvas {
      border: solid black 1px;
    }
  }

  #toolbar {
    height: 50px;
  }
}

